/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Common shared styles */

* {
    font-family: "Work Sans", sans-serif;
}

/* header styles */

header {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-header img {
    width: 86.041px;
    height: 40px;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-g {
    color: #FF42A5;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

.nav-about {
    display: flex;
}

.nav-about li {
    margin-left: 32px;
}

nav li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.nav-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 32px;
}

.nav-follow>li {
    padding: 18px 24px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: center;
    /* background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat; */
}

.banner-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.banner-container>div {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-content h3 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 24px;
}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 17px;
}

.banner-btns {
    display: flex;
    /* justify-content: center; */
    gap: 24px;
}

.banner-btn-1 {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 21px 40px;
}

.banner-btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 21px 40px;
}

/* main section styles */

main {
    margin: 120px 0px;
    display: flex;
    justify-content: center;
}

/* Online section styles */

.online-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

.online-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.online-content {
    text-align: center;
    margin-bottom: 48px;
}

.card-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.cards {
    width: 100%;
}

.cards img {
    width: 250px;
}

/* Responsive styles */

/* small devices */

@media screen and (max-width: 576px) {

    header,
    .nav-follow,
    .nav-about li {
        margin: 0;
    }

    main {
        margin-top: 50px;
    }

    .cards img {
        /* padding-left: 80px; */
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    nav>ul {
        padding: 0;
    }

    .nav-about li {
        padding-bottom: 32px;
    }

    .nav-container,
    nav>ul,
    .nav-about,
    .banner-container,
    .card-container {
        flex-direction: column;
    }

    .banner-container>div {
        width: 100%;
    }

    .banner-content h2,
    h3,
    p {
        text-align: center;
    }

    .banner-btns {
        justify-content: center;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        margin: 0;
    }

    .banner-btns {
        justify-content: center;
    }
}